@import url('https://fonts.googleapis.com/css?family=Coda:800');
@import url('https://fonts.googleapis.com/css?family=Abel');


.teams {
  display: flex;

}
.team {
  margin:6px;
  border-style: outset;
  border-color: black;
  border-width: 8px;
  border-radius: 8px;
}

.logo {
  position: absolute;
  width: 4.7%;
  height: 28%;
  border-style: solid;
  border-color: #111;
  float:right;
}
.image-background {
  width: 100%;
}
.cardheader {
  padding-left: 6px;
  height:30px;
}

div.cardmedia2 > div > div > div  {
  opacity:0;

}
div.cardmedia2 > div > div > div:hover  {
  opacity:1;
  transition: opacity 0.5s;
  bottom:2px !important;
}

div.cardmedia > div > div > div  {
  opacity:0;


}
div.cardmedia > div > div > div:hover  {
  opacity:1;
  transition: opacity 0.5s;
}

div.cardmedia > div > button {
  z-index: 1000;
}


.cardtext {
  font-size: 10px
}

.divisions {
  justify-content: center;
  display: flex;
  justify-content: space-around;;

}

.division > div >div >div {
  background-color: rgba(231, 215, 215, 0) !important;
}

.division {
  width: 312px;
  
}
.tabs > div {
  width: 107% !important;
  display: flex;
  position: relative;
  right: 24px;
}
.Biology {
    position: relative;
    top: 247px;
    left: 19px;
}

.Biology > Img {
  height: 258px;
  position: relative
 }
.playerInfo {
  position: relative;
      left: 407px;
    bottom: 332px;
    font-size: 29px;
    font-weight: 700;
    height: 11px;
  color: black;
  font-family: 'Abel', sans-serif !important;


  }

  .views > div > div > div > div {
    padding: 0px 0px 125px;
    /*overflow: hidden;*/
  }

  .views > div > div > div {
    background-color: white !important
  }




  .views > div > div > div >h3 {
    font-size: 41px !important;
    color:#111 !important;
    font-family: 'Coda', cursive;

  }

  .buttons {
    border-style: solid;
    border-color: #111;
    border-width: 4px;
    margin-top: -4px;
  }

  .website {
    border-style: solid;
    border-color: #111;
    border-width: 4px;
    margin-top: -3px;
  }

  .Stats {
    color:black;
  }

  .Table {
    padding: 10px 5px;
    border-spacing: 8px 6px;
    margin-top:18px;
  }

  .Table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
  .Table, td {
    padding-right: 28px;
    padding-left: 20px;
  }


