.teams {
  display: flex;

}
.team {
  margin:6px;
  border-style: outset;
  border-color: black;
  border-width: 8px;
  border-radius: 8px;
}

.logo {
  position: absolute;
  width:8%;

}
.cardheader {
  padding-left: 6px;
  height:30px;
}

div.cardmedia2 > div > div > div  {
  opacity:0;

}
div.cardmedia2 > div > div > div:hover  {
  opacity:1;
  transition: opacity 0.5s;
  bottom:2px !important;
}

div.cardmedia > div > div > div  {
  opacity:0;


}
div.cardmedia > div > div > div:hover  {
  opacity:1;
  transition: opacity 0.5s;
}

div.cardmedia > div > button {
  z-index: 1000;
}


.cardtext {
  font-size: 10px
}

.divisions {
  justify-content: center;
  display: flex;
  justify-content: space-around;;

}

.division {
  width: 229px;
  border-style: solid;
  border-width: 5px;
  border-radius: 7px;
}
.tabs > div {
  width: 107% !important;
  display: flex;
  position: relative;
  right: 24px;
}

.Biology > Img {
  height: 135px;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  border-width: 6px;
  position: relative;
 }
.playerInfo {
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  border-width: 6px;
  padding: 7px;
  width: 515px;
  position: relative;
  left: 192px;
  bottom: 151px;
  font-size: 16px;
  height: 11px;
  }

  .views > div > div > div > div {
    padding: 0px 0px 125px;
    /*overflow: hidden;*/



  }

  /*.SnackBar > div {
    position: relative;
    top: 400px;
  }*/
