@import url('https://fonts.googleapis.com/css?family=Coda:800');

h3 {
	color:#111 !important;
	font-family: 'Coda', cursive;
	font-size: 36px !important;
	background-color: white !important;


}

.CustomPageTabs > div {
  width: 768px !important;
  background-color: rgba(194, 19, 21, 0.89) !important;
  margin-left: -24px;
}

.Tab1, .Tab2 {
	font-size: 24px !important;
}

.CustomSwipeableview {
	background-color: brown !important
}
.CustomSwipeableview > div > div  {
  background: white !important
}


.dialog-view > div > div > div > div {
  background: white !important;
}

.Table {
	color: black !important;
}

.cancel-button {
	color: black !important;
	background: brown !important;
}