.InventoryButton {
}

.AppBar {
  background-color: rgba(194, 19, 21, 0.89) !important;
  
}

.Background > div {
background-color: rgba(17, 17, 17, 0.79) !important;
}

div.Background > div > div {
  
}

.playerBox > div {
  position: relative;
  left: 64px;
}
.title {
  position: relative;
left: 117px;
width: 122px;
color: black;
bottom: 98px;
}

.playerImg {
      width: 103px;
    height: 91px;
    position: relative;
    right: 2px;
    bottom: -9px;
}

.CustomTeam {
      /*top: 0px;
    width: 371px !important*/
    background-color: rgba(17, 17, 17, 0.79) !important;
}

.SnackBarInventory {
  left:80%;
}
