.InventoryButton {
  background-color: black;
}

.Background > div {
  background-color: brown !important;
}

div.Background > div > div {
  background-color: brown !important;
}

.playerBox > div {
  position: relative;
  left: 64px;
}
.title {
  position: relative;
left: 117px;
width: 122px;
color: black;
bottom: 98px;
}

.playerImg {
      width: 103px;
    height: 91px;
    position: relative;
    right: 2px;
    bottom: -9px;
}

.CustomTeam {
      top: 0px;
    width: 371px !important
}
