.Customize {
	/*position: relative;
	right:36%;*/
	float:left;
}

.Login {
	float: left;
	/*position: relative;
    right: 74%;
    bottom: 18%;*/
}

.Logout {
	float:left;
	/*position: relative !important;
    top: 18% !important;
    right: 15.8% !important;*/
}
.Register {
	float:left;
	  /*position: relative;
    bottom: 74%;
    right: 48%;*/
}

.Title {
    color: orange;
    font-size: 72px;
    width: 18%;
    flex-grow:2;
    order:2;
    padding-right: 159px;
    text-shadow: 5px 2px 3px brown;
}

.Nav-buttons {
    flex-grow: 1;
    order:1;
}

.InventoryButton {
    flex-grow: 1;
    order: 3;
}
